<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://****/**/tue_test.ipa(ipa文件的访问地址)</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true />
            <key>url</key>
            <string>https://www.apicloud.com/icon1/ba/03/ba03b0107155f9d936ce534471782c53.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <true />
            <key>url</key>
            <string>https://www.apicloud.com/icon1/ba/03/ba03b0107155f9d936ce534471782c53.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.yunkhb.hongbao</string>
          <key>bundle-version</key>
          <string>0.0.1</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string></string>
          <key>title</key>
          <string>TU/e测试版(随便起,用于踊跃alert确认时的提示)</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>